{% extends "layout/base.html" %}
{% block title %}New Match{% endblock %}
{% block css_file %}"new-match.css"{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="table new-match-table">
        <form method="post" name="player-names" class="player-names" action="/new-match">
            <h1 class="table-text-regular centered-flex">ENTER PLAYER NAMES</h1>
            <div class="player-input-wrapper">
                <label for="name-p1" class="table-text-regular">PLAYER 1's NAME:</label>
                <input class="table-text-screen" required minlength="2" maxlength="26" type="text" name="name-p1" id="name-p1" placeholder="Enter the name of Player 1...">
            </div>
            <div class="player-input-wrapper">
                <label for="name-p2" class="table-text-regular">PLAYER 2's NAME:</label>
                <input class="table-text-screen" required minlength="2" maxlength="26" type="text" name="name-p2" id="name-p2" placeholder="Enter the name of Player 2...">
            </div>
            <div>
                <button>Start the match</button>
            </div>
        </form>
</div>
</div>
{% endblock %}
