@import url("base.css");

main {
    display: flex;
    justify-content: center;
    
    margin: 0;
    padding: 0;
}

main h1 {
    font-size: 3rem;
}

.error-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    aspect-ratio: 3 / 2;
    
    height: 80%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.table-text {
    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(218,223,0);
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: 4rem;    
}

.screen-text {
    display: flex;
    align-items: center;
    justify-content: center;

}

h1 {
    height: 30%;
    width: 100%;
}

.error-msg {
    height: 50%;
    width: 60%;

    font-size: 3rem;
}

.error-msg-wrapper {
    display: flex;
    justify-content: center;

    height: 30%;
    width: 100%;
    /* box-sizing: border-box; */
}

form.error-form {
    display: flex;
    justify-content: center;

    height: 40%;
    width: 100%;
    /* box-sizing: border-box; */
}


form button {
    width: 50%;
    height: 80%;
}

