@import url("base.css");

.start-game-menu-wrapper form {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* .form-group {
    font-size: 3rem;
} */
.form-group {
    align-items: center;
    justify-content: space-around;

    height: 100%;

    font-size: 3rem;
}

.form-group div {
    height: 100%;
    width: 30%;
}

input {
    width: 100%;
    height: 5%;    
}

.start-game-menu-wrapper button {
    width: 30%;
    height: 10%;
    margin-bottom: 5%;
}
