@import url("base.css");

main form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
    box-sizing: border-box;

    height: 100%;
    width: 100%;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    box-sizing: border-box;

    height: 100%;
    width: 100%;

    font-size: 3rem;
}

.player-names {
    display: flex;
    
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.form-group div {
    height: 100%;
    width: 30%;
}

input {
    width: 100%;
    height: 5%;    
}

main button {
    width: 30%;
    height: 10%;
    margin-bottom: 5%;
}
