/* Global Layout */
html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: rgb(223, 211, 211);
}

main {
    width: 100%;
    height: 80%;
}

header, footer {
    width: 100%;
    height: 9%;

    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;

    text-align: start;
    font-style: italic;
}

aside {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    position: absolute;

    width: 25%;
    height: 80%;
}

h1 {
    margin: 0;
}

main, header, footer {
    box-sizing: border-box;
}


button {
    display: inline-block;
    aspect-ratio: 9 / 16;

    /* box-sizing: border-box; */
    background-color: rgb(20,174,103);
    border: 1rem solid white;
    border-radius: 2rem;
    box-shadow: 1rem 1rem grey;

    font-family: 'Helvetica', sans-serif;
    color: rgb(218,223,0);
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
}

button:hover {
    background-color: rgb(20, 197, 114);
    cursor: pointer;
}

button:active {
    box-shadow: 0.5rem 0.5rem grey;
}

/* Header Layout */

header button {
    height: 100%;
    width: 15%;
    margin: 0 5%;
}

/* Main Table */

.table-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0;
}


.table-box {
    aspect-ratio: 3 / 2;
    
    width: 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    box-shadow: 1rem 1rem grey;
    background-color: rgb(20,174,103);
    border: 1rem solid white;
    border-radius: 2rem;
}

.flex {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.table-el {
    display: inline-block;

    box-sizing: border-box;
    margin: 2.5%;

    background-color: rgb(56,54,53);
    border: 1rem solid white;
}

.player-names {
    justify-content: space-between;
    height: 20%;
}
.p-name {
    width: 41%;
}

.score-points {
    justify-content: space-evenly;
    height: 50%;
}
.digits {
    justify-content: space-evenly;  
    width: 44%;
}
.digits .score-digit {
    width: 40%;

    font-size: 10rem;
    text-align: center;
}

.table-colon {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    width: 12%;
}
.dot {
    aspect-ratio: 1 / 1;
    width: 50%;

    background-color: red;
    border: 1rem solid white;
    border-radius: 3rem;
}

.score-sets {
    justify-content: center;
    align-items: center;

    height: 30%;
}
.score-sets .p-sets {
    aspect-ratio: 1 / 1;
    width: 15%;
    font-size: 5rem;
}
.score-sets span:nth-child(2) {
    width: 25%;

    font-size: 4rem;
    font-family: 'Helvetica', sans-serif;
}

.table-text {
    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(218,223,0);
    font-weight: bold;
    font-family: 'Score Board', Helvetica, sans-serif;
    font-size: 1.5rem;    
}


.add-point-btns-wrapper {
    display: flex;
    justify-content: center;

    width:100%;
    height: 20%;
    padding-top: 2.5%;
}

.add-point-btns-wrapper button {
    height: 50%;
    width: 15%;
    margin: 0 5%;
    
}

/* Button Styles */


/* Set History Table */

.set-history {
    width: 80%;
    height: 82.5%;
    box-sizing: border-box;
    margin-left: 2.5%;
    padding: 0;

    background-color: rgb(20,174,103);
    border: 1rem solid white;
    border-radius: 2rem;
    box-shadow: 1rem 1rem grey;
}

.set-history h2 {
    display: block;

    height: 12.5%;
    padding: 5%;
    margin: 0;
    box-sizing: border-box;
    
    font-size: 2rem;
    font-family: 'Helvetica', sans-serif;
    color: rgb(218,223,0);
    text-align: center;
}

.set-info {
    display: flex;
    justify-content: center;

    height: 27.5%;

    box-sizing: border-box;
}

.set-digit {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30%;
    
    font-family: 'Score Board', Helvetica, sans-serif;
    font-size: 5rem;
    color: rgb(218,223,0);
}

.main-menu-wrapper {
    justify-content: space-around;
}

.main-menu-wrapper form {
    align-items: center;
    width: 25%;
}

.start-game-menu-wrapper form {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-group {
    font-size: 3rem;
}

form button {
    height: 30%;
    width: 100%;
    font-size: 2rem;
}

label {
    display: block;
}

.form-group {
    align-items: center;
    justify-content: space-around;

    height: 100%;
}

.start-game-menu-wrapper button {
    width: 30%;
    height: 10%;
    margin-bottom: 5%;
}

.form-group div {
    height: 100%;
    width: 30%;
}

input {
    width: 100%;
    height: 5%;    
}


/* Для тестирования макета с пустыми span */
span:empty::before {
    content: "\200b";
}
