{% macro get_match_record(match) -%}
    <div class="match-result">
        <div class="player-result">
            <span class="player-name table-text-screen">{{match.p1_name}}</span>
            <span class="set-result table-text-screen">{{match.p1_s1}}</span>
            <span class="set-result table-text-screen">{{match.p1_s2}}</span>
            <span class="set-result table-text-screen">{{match.p1_s3}}</span>
        </div>
        <div class="player-result">
            <span class="player-name table-text-screen">{{match.p2_name}}</span>
            <span class="set-result table-text-screen">{{match.p2_s1}}</span>
            <span class="set-result table-text-screen">{{match.p2_s2}}</span>
            <span class="set-result table-text-screen">{{match.p2_s3}}</span>
        </div>
    </div>
{%- endmacro %}
