@import url("base.css");

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.new-match-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    aspect-ratio: 3 / 2;
    
    height: 90%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form {
    height: 100%;
    width: 100%;
}

form h1 {
    height: 20%;
    width: 100%;

    font-size: 4rem;
}

form div {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 25%;
    width: 100%;
}

form button {
    height: 100%;
    width: 40%;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
}

input {
    display: flex;
    justify-content: center;

    height: 30%;
    width: 55%;

    font-size: 2rem;
}
