{% extends "layout/base.html" %}
{% block title %}Tennis Match{% endblock %}
{% block css_file %}"match-score.css"{% endblock %}

{% block content %}
<div class="wrapper">
    <aside>
        <div class="table side-table">
            <h2 class="table-text-regular">SET SCORE</h2>
            <div class="set-info">
                <span class="table-text-screen set-digit table-el centered-flex" id="s1-d1">{{set1_p1}}</span>
                <span class="table-text-screen set-digit table-el centered-flex" id="s1-d2">{{set1_p2}}</span>
            </div>
            <div class="set-info">
                <span class="table-text-screen set-digit table-el centered-flex" id="s2-d1">{{set2_p1}}</span>
                <span class="table-text-screen set-digit table-el centered-flex" id="s2-d2">{{set2_p2}}</span>
            </div>
            <div class="set-info">
                <span class="table-text-screen set-digit table-el centered-flex" id="s3-d1">{{set3_p1}}</span>
                <span class="table-text-screen set-digit table-el centered-flex" id="s3-d2">{{set3_p2}}</span>
            </div>
        </div>
    </aside>
    <div class="table main-table">
        <div class="player-names">
            <span class="table-text-screen table-el p-name centered-flex" id="name-p1">{{name_p1}}</span>
            <span class="table-text-screen table-el p-name centered-flex" id="name-p2">{{name_p2}}</span>
        </div>
            <div class="score-points">
            <div class="game-score" id="points-p1">
                <span class="table-text-screen table-el score-digit centered-flex" id="p1-digit-1">{{p1_digit_1}}</span>
                <span class="table-text-screen table-el score-digit centered-flex" id="p1-digit-2">{{p1_digit_2}}</span>
            </div>
            <div class="table-colon">
                <span class="dot"></span> 
                <span class="dot"></span>
            </div>
            <div class="game-score" id="points-p2">
                <span class="table-text-screen table-el score-digit centered-flex" id="p2-digit-1">{{p2_digit_1}}</span>
                <span class="table-text-screen table-el score-digit centered-flex" id="p2-digit-2">{{p2_digit_2}}</span>
            </div>
        </div>
        <div class="score-sets centered-flex">
            <span class="table-text-screen table-el p-sets centered-flex" id="sets-p1">{{cur_set_p1}}</span>
            <span class="table-text-regular table-text">SET</span>
            <span class="table-text-screen table-el p-sets centered-flex" id="sets-p2">{{cur_set_p2}}</span>
        </div>
    </div>
    <aside>
        <div class="side-table table">
            <h2 class="table-text-regular">MATCH STATUS</h2>
            <span class="table-text-screen table-el table-text match-status">{{match_status}}</span>
            <form action="/">
                <button class="table-text-regular table-btn">MAIN MENU</button>
            </form>
            <form action="/new-match">
                <button class="table-text-regular table-btn">NEW MATCH</button>
            </form>
            <form action="/matches">
                <input type="hidden" name="page" value="1">
                <button class="table-text-regular table-btn">ALL MATCHES</button>
            </form>
        </div>
    </aside> 
</div>
<form class="change-score-form" method="post" name="change-score">
    <div class="add-point-btns-wrapper">
        {% if match_status == "match is over" %}
            <button class="table-text-regular table-btn" disabled type="submit" name="player-scores" value="p1">Add point</button>
            <button class="table-text-regular table-btn" disabled type="submit" name="player-scores" value="p2">Add point</button>
        {% else %}        
            <button class="table-text-regular table-btn" type="submit" name="player-scores" value="p1">Add point</button>
            <button class="table-text-regular table-btn" type="submit" name="player-scores" value="p2">Add point</button>
        {% endif %}
    </div>
</form>
{% endblock %}
